<!--index.html-->
<!DOCTYPE html>
<html>

<head>
    <title>MEMS runnimg test</title>
    <script src="static/js/script.js"></script>
    <link rel="stylesheet" href="static/css/style.css"></link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    //initialize components
    $(document).ready(function() {
        var target = document.getElementById('selector');
        drawGraph(target);
    });
    </script>
</head>

<body>
    <h1>MEMS running test</h1>
    <div>
        <p>Select a sample number</p>
        <select id=selector3 onchange="selectSample(this)">
        </select>
    </div>

    <div>
        <p>Select a MEMS board number</p>
        <select id=selector onchange="drawGraph(this)">
            <option value="2112-01">2112-01</option>
            <option value="2203-04">2203-04</option>
            <option value="2209-02">2209-02</option>
            <option value="2209-05" selected>2209-05</option>
            <option value="2209-06">2209-06</option>
            <option value="2209-07">2209-07</option>
            <option value="2209-08">2209-08</option>
            <option value="2209-09">2209-09</option>
            <option value="2209-11">2209-11</option>
        </select>
    </div>

    <div>
        <p>Select a data type for display</p>
        <select id=selector2 onchange="drawGraph2(this)">
            <option value="latest" selected>latest</option>
            <option value="all">all</option>
            </select>
    </div>

    <form>
        <p>latest point</p>
        <input id="text1" type="number" value="1" class="class2"></input>
        </br>
        <p>oldest point</p>
        <input id="text2" type="number" value="10000" class="class2"></input>
        <button id="button1">Set</button>
    </form>
      
    <script>
        button();
    </script>

    
    <br/>

    <img id=plotimg class="class1"></img>
    
</body>

<body>
    <h3><div id="sample"></div></h3>
    <h3><div id="start_time"></div></h3>
    <h3><div id="stop_time"></div></h3>
</body>

</html>